{% extends 'tcbase.html' %}

{% block title %}'s AP Argumentative Essay{% endblock %}

{% block description %}
<META NAME="Description"
	CONTENT="This is Mike Tarpey's AP Argument submitted to College Board through the AP English Language and Composition exam in the 2009 exam year.">
{% endblock %}

{% block header %}AP Argumentative Essay{% endblock %}

{% block content %}
	<p>
		Retyped word-for-word from the green AP insert. A scan of the original rewrite can be found <a
			href="{{ url_for('timecapsule', template_id='apargumentscan') }}">here</a>.
	</p>

	<p>
		Adversity is a natural by-product of life. No one can reasonably expect to make it through their entire lifetime
		without some semblance of hardship. That said, these challenging experiences are often what let true character
		shine through, changing a person's outlook on life. When adversity is present, humans often think with a clarity
		and deepness they have never thought with before, and these thoughts are what develop the most important and
		valuable portions of a person's character.
	</p>

	<p>
		A short-term hardship is often what first opens a person's eyes to a deeper thought process. The unexpected
		death of a loved one, a near-death experience, or even a dramatically poor grade can elicit new and different
		thoughts. When one has to interrupt the daily routine to address something traumatic or unexpected, the brain
		seems to correspondingly shift. Deeper questions arise, potentially asking "Why?" or "What about me?" or even
		"What now?" These questions do not have concrete answers as so many daily problems do, and a short-term hardship
		provokes a lot of abstract answers.
	</p>

	<p>
		Long-term hardships are where these abstract thoughts can develop into an entirely new outlook on life. The most
		prominent example is long-term illness. A child comes home to the realization that his mother has an aggressive
		lung cancer that not many survive. The magnitude of emotions that the child may feel is overwhelming; how does
		he handle it all? As the months wear on, the mother becomes weaker and weaker, and the child must face reality
		every day. His outlook on life changes before him; where he may have neglected someone before, he will now do
		everything in his power to help. Perhaps that was already his nature before; now, it becomes stronger and
		radiates. In the public's eyes, the child has undergone a fundamental change. His experiences have made him a
		more complete person, and he does not only think in a new light, but he is seen in a new light.
	</p>

	<p>
		Dramatic examples such as these are a reality faced by humans worldwide. Whether for better or worse, how a
		person handles their adversity will undoubtedly define them, for themselves and for the eyes of the world.
	</p>

{% endblock %}