{% extends 'tcbase.html' %}

{% block title %}'s Favorite Apps{% endblock %}

{% block description %}
<META NAME="Description" CONTENT="The apps most frequently used by Mike Tarpey.">
{% endblock %}

{% block header %}My Favorite Apps{% endblock %}

{% block content %}

<p>
	<a href="http://www.utorrent.com">uTorrent<br></a>
	<a href="https://agilebits.com/onepassword">1Password<br></a>
	<a href="http://www.7-zip.org/">7-Zip<br></a>
	<a href="http://get.adobe.com/reader/">Adobe Reader<br></a>
	<a href="http://www.amd.com/en-us/markets/game/downloads/raptr">AMD Gaming Evolved<br></a>
	<a href="http://audacity.sourceforge.net/">Audacity<br></a>
	<a href="http://us.battle.net/en/">battle.net<br></a>
	<a href="http://www.theisozone.com/downloads/dreamcast/other/bootdreams-106/">BootDreams<br></a>
	<a href="http://www.piriform.com/CCLEANER">CCleaner<br></a>
	<a href="http://www.alcpu.com/CoreTemp/">Core Temp<br></a>
	<a href="http://www.crashplan.com/">CrashPlan<br></a>
	<a href="https://www.dropbox.com/">Dropbox<br></a>
	<a href="http://evernote.com/">Evernote<br></a>
	<a href="http://stereopsis.com/flux/">F.lux<br></a>
	<a href="http://filezilla-project.org/">FileZilla<br></a>
	<a href="http://www.dvdvideosoft.com/products/dvd/free-youtube-to-mp3-converter.htm">Free YouTube to MP3
		Converter<br></a>
	<a href="http://www.gimp.org/">GIMP<br></a>
	<a href="https://www.google.com/chrome">Google Chrome<br></a>
	<a href="http://www.irfanview.com/">IrfanView<br></a>
	<a href="http://www.apple.com/itunes/">iTunes<br></a>
	<a href="http://www.java.com/en/download/index.jsp">Java<br></a>
	<a href="http://lame1.buanzo.com.ar/#lamewindl">LAME for Audacity<br></a>
	<a href="http://livesplit.org/">LiveSplit<br></a>
	<a href="http://www.mp3tag.de/en/download.html">MP3TAG<br></a>
	<a href="https://obsproject.com/">Open Broadcaster Software<br></a>
	<a href="http://picasa.google.com/">Picasa 3<br></a>
	<a href="http://www.piriform.com/recuva">Recuva<br></a>
	<a href="http://www.revouninstaller.com/revo_uninstaller_free_download.html">Revo Uninstaller<br></a>
	<a href="http://www.skype.com/intl/en-us/get-skype">Skype<br></a>
	<a href="http://www.piriform.com/speccy">Speccy<br></a>
	<a href="https://www.dreamspark.com/student/Software-Catalog.aspx">SQL Server 2014<br></a>
	<a href="http://store.steampowered.com/">Steam<br></a>
	<a href="http://www.softpedia.com/get/System/Launchers-Shutdown-Tools/Task-Killer.shtml">Task Killer<br></a>
	<a href="http://sourceforge.net/projects/tinn-r/?source=dlp">Tinn-R<br></a>
	<a href="http://www.videolan.org/vlc/index.html">VLC<br></a>
	<a href="http://windirstat.info/download.html">WinDirStat<br></a>

	{% endblock %}