{% extends 'base.html' %}

{% block description %}
<meta name="description" content="Mike Tarpey's website time capsule.
The site has changed a lot throughout the years...pages from the past
can be viewed here!">
{% endblock %}

{% block title %} - time capsule{% endblock %}

{% block header %}time capsule{% endblock %}

{% block content %}
<p>
  This is the time capsule.
</p>

<p>
  I bought tarpey.dev with the primary goal of improving my programming skills by building out some small apps...but I
  haven't lost sight of the fact that my website used to be an important portal for me to express what I was feeling
  (especially during an emotionally turbulent high school and college career). I think it makes sense for me to give
  these pages I built during my academic career a place of their own.
</p>

<p>
  Just about everything contained within is untouched since the last iteration of michaeltarpey.com (probably since 2013
  or so). The high school pages are even older than that. I scrubbed each page for inactive email addresses and old
  scripts before uploading.
</p>

<p>
  <b class="bold_warning">Some links won't work, and the profile information is obviously pretty dated.</b> If you're
  looking for my up-to-date resume, you can visit <a class="inline"
    href="https://www.linkedin.com/in/mptarpey/">LinkedIn</a>.
</p>

<p>
  There are three hidden pages that are only accessible by typing in the correct URL. (From what I can tell, this is
  intended behavior from past me. I was still uploading HTML templates for these pages, but there are no links to them
  within the site.)
</p>

<p>
  With all that said...
</p>

<div class="button-div">
  <a href="{{ url_for('timecapsule', template_id='index') }}">
    <sl-button class="sl-blue-button" size="large" style="width: 100%">Click here to enter the time capsule!</sl-button>
  </a>
</div>
<div class="button-div">
  <a href="{{ url_for('timecapsuledeep', template_id='enter') }}">
    <sl-button class="sl-red-button" size="large" style="width: 100%">Wait...there's ANOTHER time capsule?</sl-button>
  </a>
</div>
{% endblock %}