{% extends 'tcbase.html' %}

{% block description %}
<META NAME="Description" CONTENT="The official home page of Mike Tarpey, UConn graduate & actuary in training.">
{% endblock %}

{% block header %}
Mike Tarpey

<h4><a href="{{ url_for('timecapsule', template_id='projects') }}" style="text-decoration: none">Projects</a> |
	<a href="https://twitter.com/annuitydew" style="text-decoration: none">Twitter</a> |
	<a href="http://annuitydew.tumblr.com/" style="text-decoration: none">Blog</a> |
	<a href="{{ url_for('timecapsule', template_id='myindex') }}" style="text-decoration: none">Tarpeydex</a>
</h4>

<p>
	<img src="{{ url_for('static', path='timecapsule/images/2014picsmall.jpg') }}">
</p>
{% endblock %}

{% block content %}
<p>
	Hello! This is the personal website of yours truly, Mike Tarpey. I found myself discovering other, not-me Mike
	Tarpeys when I Googled my name one day, and figured I'd get in on the action.
</p>

<p>
	On July 1st, 2009, my mother, Cynthia Marie Tarpey, passed away at the age of 48. 10 months later, on May 11th,
	2010, my father, Michael William Tarpey, also passed away. I've created a page to memorialize them as I remember
	them fondly, and if you'd like to see it, <a href="{{ url_for('timecapsule', template_id='momanddad') }}">click
		here</a>.
</p>

<p>
	Enjoy the site. Feel free to e-mail me using the link at the bottom of the page if you have any questions.
</p>

<p>
	<b><u>Location</u></b><br>
	-Daytona Beach, Florida, USA, from 1991 to 2005<br>
	-Virginia Beach, Virginia, USA, from 2005 to 2010<br>
	-Storrs, Connecticut, USA, from 2010 to 2013<br>
	-Virginia Beach, Virginia, USA, 2013 to 2014<br>
	-Richmond, Virginia, USA, 2014 to present
</p>

<p>
	<b><u>Professional Career</u></b><br>
	-Senior Health & Benefits Actuarial Analyst at <a href="http://www.mercer.com/">Mercer</a> since October 20th,
	2014<br>
	-Previous roles:<br>
	&#160;+Shift Lead at <a href="http://www.walgreens.com">Walgreens</a> (March 4th, 2014 - October 10th, 2014)<br>
	&#160;+Photo Specialist at Walgreens (February 9th, 2010 - March 3rd, 2014)<br>
	&#160;+Service Clerk at Walgreens (July 10th, 2009 - February 8th, 2010)<br>
</p>

<p>
	<b><u>Student Career</u></b><br>
	-<a href="{{ url_for('timecapsule', template_id='uconndiploma') }}">Bachelor of Arts in Actuarial Science</a> from
	the <a href="http://www.uconn.edu/">University of Connecticut</a><br>
	-<a href="{{ url_for('timecapsule', template_id='mths') }}">Landstown High School, 9th-12th grade</a><br>
	-Landstown Middle School, 8th grade<br>
	-Silver Sands Middle School, 6th-7th grade<br>
	-Port Orange Elementary, 1st-5th grade<br>
	-Calvary Christian Academy, Kindergarten<br>
</p>

<p>
	<b><u>Actuarial Certifications</u></b><br>
	-Passed SOA Exam FM, June 9th, 2012<br>
	-Passed SOA Exam P, July 21st, 2012<br>
	-Validation by Educational Experience (VEE):<br>
	&#160;+Economics<br>
	&#160;+Corporate Finance<br>
	&#160;+Applied Statistical Methods<br>
</p>

<p>
	<b><u>Fall 2013 Courses (12 credits)</u></b><br>
	-MATH 5637: Risk Theory (Graduate level, 3 credits, pass/fail)<br>
	-ENGL 1616: Major Works of English and American Literature (3 credits)<br>
	-GSCI 1051: Earth & Life Through Time (3 credits)<br>
	-MATH 3796W: Independent Study (3 credits)<br>
</p>

<p>
	<b><u>Spring 2013 Courses (12 credits)</u></b><br>
	-MATH 3621: Actuarial Statistics (3 credits, A)<br>
	-MATH 3631: Actuarial Mathematics II (3 credits, B+)<br>
	-MATH 3634: Actuarial Models (3 credits, A)<br>
	-STAT 3445: Intro Mathematical Statistics (3 credits, B-)<br>
</p>

<p>
	<b><u>Fall 2012 Courses (15 credits)</u></b><br>
	-MATH 3630: Actuarial Mathematics I (3 credits, A-)<br>
	-MATH 3650: Financial Mathematics II [Corporate Finance] (3 credits, B)<br>
	-MATH 3660: Advanced Financial Mathematics (3 credits, B)<br>
	-STAT 3375: Intro Mathematical Statistics (3 credits, B)<br>
	-ANTH 1001W: Anthropology Through Film (3 credits, A)<br>
</p>

<p>
	<b><u>Spring 2012 Courses (14 credits)</u></b><br>
	-FNCE 3221: Risk Management and Insurance (3 credits, B)<br>
	-MATH 2144Q: Advanced Calculus IV (4 credits, B, honors)<br>
	-MATH 3160: Probability (3 credits, B-, honors)<br>
	-MATH 3550: Programming for Actuaries (3 credits, A)<br>
	-MATH 3615: Financial Mathematics Problems (1 credit, B)<br>
</p>

<p>
	<b><u>Winter 2012 Course (3 credits, A)</u></b><br>
	-ANTH 1000: Other People's Worlds<br>
</p>

<p>
	<b><u>Fall 2011 Courses (10 credits)</u></b><br>
	-MUSI 1005: Music, Nature, and the Environment (3 credits, B, honors)<br>
	-MATH 2143Q: Advanced Calculus III (4 credits, B+, honors)<br>
	-MATH 2620: Financial Mathematics I (3 credits, B)<br>
</p>

<p>
	<b><u>Spring 2011 Courses (14 credits)</u></b><br>
	-ACCT 2001: Principles of Financial Accounting (3 credits, B+)<br>
	-ECON 2201: Intermediate Microeconomic Theory (3 credits, A)<br>
	-MATH 2142Q: Advanced Calculus II (4 credits, A-, honors)<br>
	-PHYS 1502Q: Physics for Engineers II (4 credits, B)<br>
</p>

<p>
	<b><u>Fall 2010 Courses (14 credits)</u></b><br>
	-PHIL 1104: Philosophy and Social Ethics (3 credits, A-)<br>
	-HIST 1800: The Roots of Traditional Asia (3 credits, B-)<br>
	-MATH 2141Q: Advanced Calculus I (4 credits, A-, honors)<br>
	-ECON 2202: Intermediate Macroeconomic Theory (3 credits, B)<br>
	-INTD 1784 (13): Personal Finance (1 credit, A, honors)<br>
</p>

<p>
	<b><u>Courses Transferred from High School (31 credits)</u></b><br>
	-STAT 1100Q: STAT Q 1000 Level (3 credits, honors)<br>
	-PHYS 1501Q: Physics for Engineers I (4 credits)<br>
	-MATH 1131Q: Calculus I (4 credits)<br>
	-MATH 1132Q: Calculus II (4 credits)<br>
	-POLS 1602: Introduction to American Politics (3 credits)<br>
	-ENGL 1010: Seminar in Academic Writing (4 credits)<br>
	-ECON 1201: Principles of Microeconomics (3 credits, honors)<br>
	-ECON 1202: Principles of Macroeconomics (3 credits, honors)<br>
	-CSE 1000: Computer Science 1000 Level (3 credits)<br>
</p>

<p>
	<b><u>Previous Community Service/Volunteer Work</u></b><br>
	-Junior Counselor for Port Orange Elementary's Summer Program, 2004<br>
	-2009 Field Day Volunteer at Windsor Oaks Elementary School<br>
	-Graduation Marshal at Landstown High School's Class of 2009 Commencement Ceremony<br>
	-Volunteer at the Walgreens Find A Cure Scavenger Hunt Bike Run, September 12th, 2009<br>
	-Race for the Cure Volunteer, October 17th, 2009
</p>
{% endblock %}