{% extends 'tcbase.html' %}

{% block title %}'s High School Java Projects
{% endblock %}

{% block description %}
<META NAME="Description"
	CONTENT="These are all of Mike Tarpey's projects from his class in AP Computer Science during the 2008-09 school year.">
{% endblock %}

{% block header %}Java Applets{% endblock %}

{% block content %}

<p>
	<a href="{{ url_for('timecapsule', template_id='firstapplet') }}">First Applet</a><br>
	<a href="{{ url_for('timecapsule', template_id='bluebird') }}">Bluebird</a><br>
	<a href="{{ url_for('timecapsule', template_id='carpayment') }}">Car Payment</a><br>
	<a href="{{ url_for('timecapsule', template_id='doyouknowme') }}">Do You Know Me?</a><br>
</p>

{% endblock %}