{% extends 'tcbase.html' %}

{% block title %}'s Mom & Dad
{% endblock %}

{% block description %}
<META NAME="Description"
	CONTENT="This is the memorial page for the parents of Mike Tarpey, who both passed away during the course of high school's senior year.">
{% endblock %}

{% block header %}Mom & Dad
<h4>Cynthia Marie Tarpey, died July 1st, 2009</h4>
<h4>Michael William Tarpey, died May 11th, 2010</h4>
<img src="{{ url_for('static', path='timecapsule/images/memorial2.jpg') }}"></img>
{% endblock %}

{% block content %}
<p>
	Around May 2008, my mom was diagnosed with stage 3B lung cancer and given six to twelve months to live. This isn't
	when my sister and I found out; it wasn't until the school year started in September that anyone told us about it. I
	feel it so appropriate to mention this first, because this was the essence of my mom.
</p>

<p>
	She placed her kids above EVERYTHING else. There was nothing that could stop her from taking care of me and Hanah,
	first and foremost. She worked 9-5 Monday through Friday for us; she never went in Saturday when called because of
	us. She was absolutely a person of pure heart. I can't go a day anymore without some mention of her, whether it be
	from my grandma, her coworkers that are now my coworkers, or the rest of my family. Friends that had a chance to
	meet her know that she did everything she could to make sure they were comfortable while they were at our house.
</p>

<p>
	I can't imagine the pain she began to feel around early 2009, when she physically couldn't take care of us anymore.
	Our roles had reversed, and I was the one caring for her, and I genuinely think she hated it that way. It was so
	unnatural and unfair.
</p>

<p>
	When she died back on July 1st, I saw nothing but an outpouring of love from every person I knew and people I had
	never met before, and I still see it every day. And for that, I thank everyone reading this message. Every
	condolence or sympathy I receive reminds me just how much of a fantastic mother she was, and how much I owe her. But
	she'd say I owe her nothing; she did what she did because she loved me and my sister.
</p>

<p>
	She never pushed us. And honestly, I feel that if she had, I wouldn't be the person I am today. I do the things I do
	because no matter how many mistakes I could ever make, she would still love me, and she deserves all the credit in
	the universe for that. It was true, unconditional love. And it still is.
</p>

<p>
	She's not going to be here for so many, many milestones in my life, and that's extremely saddening. But I can take
	comfort in the fact that she's in that better place, and if she was here she'd having nothing but the biggest smile
	in the world for me, no matter how things turned out. So I'm going to try the best I can to smile back at her even
	more than she's smiling at me, right now.
</p>

<p>
	There's no way I can win. :)
</p>

<p>
	Thank you for everything, Mom. I will never waste a single thing you taught me about life and love.
</p>

<p>
	For 10 months, my sister and I struggled to find the meaning of what had happened, and continue living life
	normally. Things became so much tougher for both of us emotionally and financially, but we managed.
</p>

<p>
	On May 11th, 2010, I came home from work to find that my father had died of heart failure.
</p>

<p>
	For those of you that know me personally, my father was the one that really contributed to how quirky I am, and how
	eccentric my personality can be. He taught me some of my most valuable lessons about getting by in the world, taking
	everything in stride, and not sweating the little stuff. When something stupid happened, Dad was there to laugh
	about it with me. (If we weren't the ones doing it.)
</p>

<p>
	My love for certain kinds of music originates from my father as well. I grew up riding around in his '85 white Chevy
	Camaro with my sister and him, blasting the radio to one of three casette tapes: The Who, Grateful Dead, or Jimmy
	Buffett's Banana Wind.
</p>

<p>
	The level of wisdom and understanding I illustrate on a daily basis is partially a gift of God, but in addition it
	can be attributed to the way my Dad viewed the world. Although he could be completely irresponsible at times, when
	it came to making sure I was developing my brain he was there to challenge me with a new idea, way beyond my time to
	any other person, but not to him. Nothing was beyond him.
</p>

<p>
	Daddy-o, I know it's not rocket science, but it may as well be, because we rocked at it. Curling may be the sport
	more complicated than a lawn chair, but now you get to watch it all day every day in your big burrito in the sky,
	and I'm infinitely jealous.
</p>

<p>
	Just as Mom taught me valuable things about life and love, Dad taught me how to deal with life and love, and perhaps
	more importantly, he helped me learn how to live.
</p>

<p>
	Cindy and Mike Tarpey. You may be gone, but Hanah and I will do everything in our power to make sure your legacy
	leaves an impact on this world. We could never have done it without you both. And although we're sad you're gone, we
	can at least try to take comfort in the fact that you are now together, forever.
</p>

<center>
	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial1.jpg') }}"></img>
	</p>

	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial4.jpg') }}"></img>
	</p>

	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial3.jpg') }}"></img>
	</p>

	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial5.jpg') }}"></img>
	</p>

	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial6.jpg') }}"></img>
	</p>

	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial7.jpg') }}"></img>
	</p>

	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial8.jpg') }}"></img>
	</p>

	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial9.jpg') }}"></img>
	</p>

	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial10.png') }}"></img>
	</p>

	<p>
		<img src="{{ url_for('static', path='timecapsule/images/memorial11.png') }}"></img>
	</p>
	{% endblock %}