{% extends 'tcbase.html' %}

{% block title %}'s Legacy Page
{% endblock %}

{% block description %}
<META NAME="Description" CONTENT="Landstown High School, Virginia Beach, VA, USA.">
{% endblock %}
{% block java %}
<script type="text/javascript" src="http://clustrmaps.com/admin/3d/js/clustrmaps.js"></script>
{% endblock %}

{% block content %}
<p>
	If you have arrived at this page, it means I'm close to graduating! The commencement exercises for Landstown's Class
	of 2010 begin at 7pm, Friday, June 18th. (Probably today if you're reading this!) The purpose of this page is to
	direct you to the page where you can watch the broadcast LIVE online! And if you miss the live broadcast, this is
	also the page where you will be able to access the replay of the ceremony. So don't wait any longer!
</p>

<p>
	<span style="font-size: 7;"><a href="http://www.vbschools.com/classof2010/index.asp">CLICK HERE TO GO TO THE
			GRADUATION PAGE.</a></span>
</p>

<p>
	Grab some popcorn and enjoy the show. I promise to do my absolute best to give the Class of 2010 the speech they
	deserve. :D
</p>

<p>
	Sincerely,<br>
	Michael Tarpey
</p>

<p>
	Oh, and if you were looking for my actual website, please click <a
		href="{{ url_for('timecapsule', template_id='index') }}">here</a>.
</p>
{% endblock %}