{% extends 'tcbase.html' %}

{% block title %}'s High School Freshman English Digital Portfolio
{% endblock %}

{% block description %}
<META NAME="Description"
	CONTENT="This is Mike Tarpey's Freshman English Digital Portfolio for the 2006-07 school year at Landstown High School.">
{% endblock %}

{% block header %}Freshman English Digital Portfolio
<h4>Mrs. Weiss' Magnet Honors English 9, Block 4-1</h4>

<p>
	<img src="{{ url_for('static', path='timecapsule/images/2007portfoliopic.jpg') }}" height=350 width=300>
</p>
{% endblock %}
{% block content %}

<p>
	Welcome to my digital portfolio website for the 2006-2007 school year! Mrs. Weiss only made us make a CD for the
	portfolio, and this was before I had a website, so I figured while I was making my senior portfolio I'd go back and
	do the only missing year, my first year of high school. All of the pieces are roughly listed in chronological order
	of composition. Enjoy.
</p>

<p>
	<b><u><span style="color:FFE303;">Featured Piece</span></u></b><br>
	<a href="{{ url_for('static', path='timecapsule/2007portfolio/mrforbidden.doc') }}">Mr. Forbidden</a>
</p>

<p>
	<b><u>Other Projects</u></b><br>
	<a href="{{ url_for('static', path='timecapsule/2007portfolio/openingletter.doc') }}">Portfolio
		Introduction</a><br>
	<a href="{{ url_for('static', path='timecapsule/2007portfolio/biopoem.doc') }}">Biopoem</a><br>
	<a href="{{ url_for('static', path='timecapsule/2007portfolio/whereimfrom.doc') }}">Where I'm From</a><br>
	<a href="{{ url_for('static', path='timecapsule/2007portfolio/narrative.doc') }}">Narrative</a><br>
	<a href="http://www.youtube.com/watch?v=PWKxHCeBqZk">Genre Pageant: Nonfiction (feat. Nikko Tanap)</a><br>
	<a href="{{ url_for('static', path='timecapsule/2007portfolio/oedipusrexpaper.doc') }}">The Tragic Flaws of
		Oedipus Rex</a><br>
	<a href="{{ url_for('static', path='timecapsule/2007portfolio/anthemessay.doc') }}"><i>Anthem</i> Essay</a><br>
	<a href="{{ url_for('static', path='timecapsule/2007portfolio/milesdavis.ppt') }}">Power Point Project: Miles
		Davis</a><br>
	<a href="http://www.youtube.com/watch?v=pTar682P5Nk"><i>A Night to Remember</i> (courtesy of MTJ
		Productions)</a><br>
	<a href="{{ url_for('static', path='timecapsule/2007portfolio/writingmap.jpg') }}">Writing Map</a><br>

	{% endblock %}