{% extends 'tcbase.html' %}

{% block title %}'s High School Junior English Digital Portfolio
{% endblock %}

{% block description %}
<META NAME="Description"
	CONTENT="This is Mike Tarpey's Junior English Digital Portfolio for the 2008-09 school year at Landstown High School.">
{% endblock %}

{% block header %}Junior English Digital Portfolio
<h4>Mrs. Fok's AP English Language and Composition, Block 4A</h4>

<p>
	<img src="{{ url_for('static', path='timecapsule/images/mainpicture.jpg') }}" height=375 width=300>
</p>
{% endblock %}

{% block content %}
<p>
	Welcome to my digital portfolio website for the 2008-2009 school year! This page is just a small reflection of all
	the things that Mrs. Fok's classes accomplished during the nine months of junior year. I've chosen to highlight two
	pieces that I believe encompass me as a writer: a research paper that demonstrates my ability to use academic,
	formal language in conjunction with logical arguments, and an argumentative essay that utilized emotional and
	spiritual life experiences, both past and present. The rest of my works from the year are located below the two
	featured pieces for your enjoyment. So, enjoy!
</p>

<p>
	<b><u><span style='color:FFE303;'>Featured Piece 1</span></u></b><br>
	<a href="{{ url_for('static', path='timecapsule/2009portfolio/againstepistolary.doc') }}">Lethargic Letters: An
		Essay on the Overuse and Misuse Of the Epistolary Novel Format</a>
</p>

<p>
	<b><u><span style='color:00E5EE;'>Featured Piece 2</span></u></b><br>
	<a href="{{ url_for('timecapsule', template_id='apargument') }}">Argumentative Essay from the 2009 AP Exam</a>
</p>

<p>
	<b><u>Compositions Not Featured</u></b><br>
	<a href="{{ url_for('static', path='timecapsule/2009portfolio/ambiguousadoption.doc') }}">Ambiguous Adoption: An
		Examination on the Practice of Same Sex Adoption in the United States</a><br>
	<a href="{{ url_for('static', path='timecapsule/2009portfolio/brave.doc') }}">Chris McCandless is Brave</a><br>
	<a href="{{ url_for('static', path='timecapsule/2009portfolio/goals.doc') }}">Career and Life Goals</a><br>
	<a href="{{ url_for('static', path='timecapsule/2009portfolio/ltowneditorial.doc') }}">Landstown Times Editorial
		on fights in school</a><br>
	<a href="{{ url_for('static', path='timecapsule/2009portfolio/mccain.doc') }}">Letter to Senator McCain</a><br>
	<a href="{{ url_for('static', path='timecapsule/2009portfolio/nowinstereo.doc') }}">Now In Stereo</a><br>
	<a href="{{ url_for('static', path='timecapsule/2009portfolio/tcpcompandcon.doc') }}">The Color Purple: A
		Comparison Between Celie and Nettie</a><br>
</p>

<p>
	<b><u>Other Projects</u></b><br>
	<a href="http://www.youtube.com/watch?v=tceSGouC1Bc">Conversational Roundtable: A Socratic Dialogue</a><br>
	<a href="http://www.youtube.com/watch?v=NSv-ZiKMaEY">Conversational Roundtable: A Socratic Dialogue...of
		bloopers</a><br>
	<a href="http://www.youtube.com/watch?v=j35vDaj3lI8">Giovanni's Bike Shop</a><br>
	<a href="http://www.youtube.com/watch?v=S1MC5G9PkUg">Giovanni's Bike Shop: The Aftermath</a><br>
	<a href="http://www.youtube.com/watch?v=d6U_ZWSUJ_o">Giovanni's Blooper Shop</a><br>
	<a href="http://www.youtube.com/watch?v=EIxhSM3RXq4">Joe's Monologue</a><br>
</p>

<p>
	<b><u>Reflection</u></b><br>
	The past three years of high school English have been immensely rewarding for me as a person. Freshman year taught
	me that I could take a subject and run with it, turning it into an entertaining and rewarding piece. In contrast,
	sophomore year took my biggest weakness, the research paper, and turned it into my greatest strength by far,
	utilizing my love for logic. This year's English class distinguished itself by being the deepest and most analytical
	that I have been a part of.
</p>

<p>
	I grew as a writer in multiple ways. The various topics that this year's curriculum covered naturally called for a
	certain level of genuine thought and emotion that helped me connect to my pieces in ways I never had before. Even at
	the culminating point of the year, the AP examination, the topic for the argumentative portion of the free response
	had the ability to evoke some of the deepest writing I have ever done.
</p>

<p>
	I've always enjoyed writing, and now that I have extremely solid foundational skills, I look forward to applying
	them to very specific works in next year's senior English class.
</p>

<p>
	For reference, the writing goals that I composed at the beginning of the year can be found by clicking <a
		href="{{ url_for('timecapsule', template_id='writinggoals') }}">here</a>.
</p>

{% endblock %}