{% extends 'tcbase.html' %}

{% block title %}'s Projects
{% endblock %}

{% block description %}
<META NAME="Description" CONTENT="The official project page of Mike Tarpey, UConn graduate & actuary in training.">
{% endblock %}

{% block header %}Mike Tarpey
<h4><a href="{{ url_for('timecapsule', template_id='projects') }}" style="text-decoration: none">Projects</a> |
	<a href="https://twitter.com/annuitydew" style="text-decoration: none">Twitter</a> |
	<a href="http://annuitydew.tumblr.com/" style="text-decoration: none">Blog</a> |
	<a href="{{ url_for('timecapsule', template_id='myindex') }}" style="text-decoration: none">Tarpeydex</a>
</h4>
{% endblock %}
{% block content %}

<p>
	Please make sure you cite correctly if you'd like to use something from my papers in a work of your own!
</p>

<p>
	By far my biggest vision for this website throughout college has been to upload all of my notes and projects I've
	completed during the course of my 3.5 years at UConn. I hope you enjoy browsing; you might learn something new, and
	you may even understand my notes better than I do!
</p>

<p>
	Projects are listed by date completed, with ongoing projects and my most recent work at the top.
</p>

<hr>

<p>
	<b><u>Obamacare: A Cost Analysis of the Patient Protection and Affordable Care Act, Relative to Recent
			Estimates</u></b><br>
	Completed: December 6th, 2013<br>
	Link: <a href="{{ url_for('static', path='timecapsule/projects/obamacare.pdf') }}">Obamacare</a><br>
	Notes: none<br>
	About: In January of 2013, I knew that if I wanted to graduate in December as planned I'd have to get started on my
	senior honors thesis, despite not knowing whether or not I would graduate with honors. I went to Emil Valdez, my MLC
	professor, for ideas, and he came up with the idea of a cost analysis for Obamacare. It seemed interesting and
	extremely relevant, so I decided to take it on. Prof. Valdez left for Michigan State after the spring semester, so
	Prof. Brian Hartman took me in to help me finish the paper during fall semester. I learned more about the law than I
	ever thought I would during my research and writing. Let me know what you think!<br>
</p>

<hr>

<p>
	<b><u>ENGL 1616 - Major Works of English and American Literature: The Literary Transatlantic</u></b><br>
	Completed: December 11th, 2013<br>
	Links: <a href="{{ url_for('static', path='timecapsule/projects/wholoveslucy.pdf') }}">Who Loves Lucy?</a> | <a
		href="{{ url_for('static', path='timecapsule/projects/slavetrade.pdf') }}">Midterm Essay on the Slave
		Trade</a><br>
	Notes: none<br>
	About: I'm very glad I retook this class in my last semester. When I first had it sophomore year, the professor was
	very dry and there seemed to be no theme to the class. This time around, it was the complete opposite, with a
	professor that cared and deeply wanted us to improve. These are the two papers I wrote in the class; in particular,
	the final paper on Lucy is one of the better pieces stylistically that I've written.<br>
</p>

<hr>

<p>
	<b><u>MATH 3621 - Actuarial Statistics</u></b><br>
	Completed: April 25th, 2013<br>
	Links: <a
		href="{{ url_for('static', path='timecapsule/projects/predictingmlbcareersalaries.pptx') }}">Predicting MLB
		Career Salaries</a> | <a href="{{ url_for('static', path='timecapsule/projects/tinnr.pptx') }}">Tinn-R
		Tutorial</a><br>
	Notes: coming soon! Need to scan.<br>
	About: Prof. Brian Hartman, as well as being my thesis advisor for the better half of 2013, was the instructor for
	this class. We had to do two presentations: a smaller 5-minute presentation on a dataset or program, and a longer
	group project working with and analyzing a large dataset. We came to some interesting conclusions about MLB players
	and their salaries. Special thanks to Justin Teal and Stephanie Aube for their help with the project! Couldn't have
	done it without them.<br>
</p>

<hr>
{% endblock %}