{% extends 'tcdbase1.html' %}

{% block title %}Mr. Man Careers - Wow, I can put words up here!{% endblock %}

{% block header %}
<h1>Mr. Man Careers</h1>
<img src="{{ url_for('static', path='timecapsuledeep/images/hpb.gif') }}">
{% endblock %}

{% block content %}
<p>
	Well, I (pictured right here) decided to make...
</p>

<a href="{{ url_for('timecapsuledeep', template_id='index') }}"><img
		src="{{ url_for('static', path='timecapsuledeep/images/Me.jpg') }}" height=225 width=300>
</a>

<p>
	*ahem* I (pictured up there) am FORCED to make this home page (haha) about careers that
	interest me, or that I might work at one day. These pages describe all
	three of the careers that I (painstakingly) researched, and they
	include some little facts and statistics that may interest you. And of
	course, there's a page meant for absolutely nothing but my own fun.
	That, my friends (and other people) is the purpose of this site. Let's
	see if it turned out okay...
</p>

<p>
	Here it is...check out these three careers I chose.<br>
</p>

<p>
	And for added fun, check out my <a href="{{ url_for('timecapsuledeep', template_id='otherhome') }}">
		school unassociated website.</a> (You can also click on my picture to get to the site :)
</p>

{% endblock %}