{% extends 'tcdbase2.html' %}

{% block title %}Mr. Man Inc. - 3 Career Website{% endblock %}

{% block content %}
<p>
    The following page is preserved (almost) exactly the way it was when I finished it in 8th grade. Don't
    bother telling me about broken
    links and stuff, because I won't fix them. Gotta save those memories...
</p>

<p>
    Click here to enter!
    <br>
    <a href="{{ url_for('timecapsuledeep', template_id='3careerhome') }}">Enter</a>
</p>
{% endblock %}