{% extends 'tcdbase1.html' %}

{% block title %}Mr. Man Careers - Computer Programmer{% endblock %}

{% block header %}<h1>Computer Programmer</h1>
			<img src="{{ url_for('static', path='timecapsuledeep/images/RainbowStar.gif') }}">
{% endblock %}

{% block content %}
		<p>
			Computer Programmers convert project specifications, problem statements, and procedures into
			logical flow charts so they can turn them into computer code. They also develop computer
			programs and may even develop web sites. Hey, web sites...I must be a computer programmer! :)
		</p>

		<p>
			I picked this career because it sounds like me. I love working with numbers and logic and stuff,
			so it relates to me. I've always wanted to make a real quality web site as well. (But this one's
			pretty good...right?)
		</p>

		<p>
			As far as travel goes, usually a very small amount of travel is associated with this job (with
			the exception of vacations, of course!)
		</p>

		<p>
			The average salary for Computer Programmers in the U.S. is $63,000 a year, but it can range
			from $37,200 to $101,000. In this great state of Virgina, however (heh), the average salary is
			slightly higher ($63,500) with a range from $35,700 to $103,100. Sounds good to me!
		</p>

		<p>
			I'm sure employers would appreciate a bachelor's degree or more, and that's what most people have
			in this job, but only high school education and experience is required.
		</p>

		<p>
			The availability of this job will stay about the same over the next ten years.
		</p>

		<p>
			Tidewater Community College and Advanced Technology Center would both help. And of course,
			it doesn't hurt to do what I'm doing; try using HTML to make a website at home. It can't hurt...
			right?
		</p>

		<p>
			For more information about this job, try <a href="http://www.acinet.org">Career InfoNet.</a>
		</p>
{% endblock %}