{% extends 'tcdbase1.html' %}

{% block title %}Mr. Man Careers - Database Administrator{% endblock %}

{% block header %}<h1>Database Administrator</h1>
<img src="{{ url_for('static', path='timecapsuledeep/images/starword.gif') }}">
{% endblock %}

{% block content %}
<p>
	These guys coordinate changes to computer databases. They test and implement the database using
	their knowledge of database management systems. They may also deal with matters of database
	security. Can't have those viruses messin' up everything...
</p>

<p>
	Databases, though not as much as the concept of networking, also fascinate me. I think this could
	be a good job choice for me as well.
</p>

<p>
	Travel in this job involves back and forth to and from work. That's about it.
</p>

<p>
	I love all these high salary jobs...Oh, sorry. (end daydreaming) Anyway, the average yearly
	salary for this particular job is $61,900 in the US, and $69,200 in the state of Virginia. (Man,
	I'm starting to like this place! :) The range for the US is from $34,500 to $97,900, and
	Virginia's range is $38,600 to $110,100. (I hated typing that number; it took me 4 tries to get
	it right. :)
</p>

<p>
	There's a theme with all these computer jobs! *gasp* If you haven't noticed it yet, people prefer
	Bachelor's degrees. But in rare cases, they will accept just high school education.
</p>

<p>
	Let the theme continue! Pretty similar to the networking deal as far as preparation for this job
	goes: TCC, ATC, online stuff, etc. (In fact, all these jobs deal with computers'so that's not too
	surprising.)
</p>

<p>
	It's not as huge of a spike as the Network Systems Analyst availability, but the number of
	openings available for this job will rise by 38% over the next 10 years (39,900 more new jobs).
</p>

<p>
	And the two sites I used to research this job are
	<a href="http://www.acinet.org/">Career InfoNet</a> (yet again) and
	<a href="http://www.vault.com/">Vault</a>.

	{% endblock %}