{% extends 'tcdbase2.html' %}

{% block title %}Mr. Man Inc. - Dance Dance Revolution{% endblock %}

{% block header %}
<h1>Dance Dance Revolution</h1>
<h5>"DDR, MAX...Two!!!"</h5>
{% endblock %}

{% block content %}


<p>
    Here's all the DDR links I can come up with. I'll try to find new links whenever I can.
</p>

<hr>

<table>
    <tr>
        <td>
            <a href="http://www.ddrfreak.com">DDR Freak</a> - I already told you about this one.
        </td>
    </tr>

    <tr>
        <td>
            <a href="http://www.ddruk.com">DDR UK</a> - This is a great site for official DDR stepfiles for
            StepMania. (And if you're
            interested in the European version of DDR.)
        </td>
    </tr>

    <tr>
        <td>
            <a href="http://www.ddrecall.com">DDRecall</a> - Play at the arcade? Post your scores here and
            compare to the world!
        </td>
    </tr>

    <tr>
        <td>
            <a href="http://www.ddrhometracker.com">DDR Home Tracker</a> - The home version equivalent of
            DDRecall.
        </td>
    </tr>
</table>

{% endblock %}