{% extends 'tcdbase2.html' %}

{% block title %}Mr. Man Inc. - Dance Dance Revolution{% endblock %}

{% block header %}<h1>Dance Dance Revolution</h1>
<h5>"DDR, MAX...Two!!!"</h5>
{% endblock %}

{% block content %}

<p>
    My collection of DDR pictures. (All taken 10/26/06 and later.)
</p>

<hr>

<p>
    My prized possession: the Cobalt Flux. The best metal pad this side of wherever.
    <img src="{{ url_for('static', path='timecapsuledeep/images/cobaltflux.JPG') }}">
</p>

<p>
    This is my collection of the five PS2 DDRs. Hopefully DDR doesn't move to PS3...
    <img src="{{ url_for('static', path='timecapsuledeep/images/ps2ddrcollect.JPG') }}">

    {% endblock %}