{% extends 'tcdbase2.html' %}

{% block title %}Mr. Man Inc. - Dance Dance Revolution{% endblock %}

{% block header %}<h1>Dance Dance Revolution</h1>
<h5>"DDR, MAX...Two!!!"</h5>{% endblock %}

{% block content %}

<p>
    This is where I upload all of my DDR videos: YouTube. If you haven't heard of it, you live under a rock.
</p>

<p>
    ...A gray rock. :)
</p>

<p>
    <a href="http://youtube.com/profile_videos?user=MasterDDR21">Watch my DDR videos!</a>
</p>

{% endblock %}