{% extends 'tcdbase1.html' %}

{% block title %}Mr. Man Careers - Network Systems Analysts{% endblock %}

{% block header %}<h1>Network Systems Analyst</h1>
<img src="{{ url_for('static', path='timecapsuledeep/images/spinstar.gif') }}">
{% endblock %}

{% block content %}
<p>
	Well, they work with networks a lot (heh) in the form of local area, wide area (LAN & WAN),
	Internet, intranet, etc. They analyze, design, test, and evaluate them. In addition, they
	research and recommend network hardware and software. They can supervise Computer Programmers
	as well, so I guess they're considered a level above Computer Programmers.
</p>

<p>
	I've really gotten involved with networking the computers in my home, and I'm about to get a new
	one soon (hopefully). I'm fascinated with the whole concept of networking, so this sounds like a
	job I would enjoy.
</p>

<p>
	There's a fair amount of travel involved in this job, like visiting other workplaces around the
	state (or maybe even the country) to determine present and future needs for networks.
</p>

<p>
	For this job, the average salary in the US is $61,300 with a range of $36,800 to $95,500. And
	just like those computer programmers, the salary in Virginia is higher with an average of
	$66,500. Range is from $39,400 to $104,300.
</p>

<p>
	This job is very similar to Computer Programmer in that most people have a bachelor's degree or more, but
	only high school job experience is necessary.
	And again, TCC and ATC are the 2 big ones, but there are many Internet courses, training, and
	FAQs online that deal with this job area, too. <i>However...</i>
</p>

<p>
	...as opposed to Computer Programmer, over the next 10 years, job availability is supposed to
	skyrocket by 55%! (In other words, 126,200 new jobs.)
</p>

For this job, you can try <a href="http://www.acinet.org/">Career InfoNet</a> (again) and
<a href="http://univsource.com/">UnivSource.</a>


{% endblock %}