{% extends 'tcdbase2.html' %}

{% block title %}Mr. Man Inc. - Reviews & FAQs{% endblock %}

{% block header %}
<h1>Reviews & FAQs</h1>
<h5>They might help someone...maybe</h5>
{% endblock %}

{% block content %}
<p>
    This will probably end up being the most informative page on my site. Hopefully someone can find some
    use for these reviews
    and FAQs. I'll post the FAQs in their own page, but they're also listed <a href="http://www.gamefaqs.com">here</a>.
    The
    reviews are here and here only. You might find a few on <a href="http://www.nintendo.com">Nintendo</a>,
    and that's okay.
    Thanks for reading!
</p>

{% endblock %}